<html lang="en">
<head>
    <title>Welcome Register Page</title>
</head>
<body>
<center>
<form action="/registration" method="POST">
    {%csrf_token%}
    <h1>Registration</h1>
    <input type="text" name="first_name" placeholder="First Name"></br></br>
    <input type="text" name="last_name" placeholder="Last Name"></br></br>
    <input type="text" name="username" placeholder="User Name"></br></br>
    <input type="email" name="email" placeholder="Email"></br></br>
    <input type="password" name="password1" placeholder="Password"></br></br>
    <input type="password" name="password2" placeholder="Confirm Password"></br></br>
    <button type="submit">Registration</button></br>
    <a href="/login">Back to Login</a>
</form>
</center>
</body>
</html>